<div class="row">
	<footer id="footer" class="clearfix">
		<h3 class="text-center segmented"><a href="https://www.leftarchive.ie"><span class="fas fa-house"></span> Irish Left Archive homepage <span class="fas fa-arrow-right"></span></a></h3>
		<div class="col-sm-6">
			<h4><span class="fas fa-info fa-fw"></span> About the Irish Left Archive</h4>
			<p>In 2007 the <a href="https://cedarlounge.wordpress.com" rel="external" class="external-link">Cedar Lounge Revolution <span class="fas fa-external-link-alt"></span></a> decided to initiate and host the Irish Left Online Document Archive. This was intended to be an online archive of materials relating to the Irish left with documents, leaflets, pamphlets, posters and newspapers from the latter half of the 20th century placed online in PDF format, freely accessible and easy to download for those who are interested&hellip;</p>
			<p><a class="btn" href="https://www.leftarchive.ie/information/about-the-irish-left-archive/">Read more <span class="fas fa-arrow-right"></span></a></p>
		</div>
		<div class="col-sm-6">
			<h4><span class="fas fa-share-nodes fa-fw"></span> @ila@leftarchive.ie</h4>
			<p>This site is built using <a href="https://microblog.pub/" rel="external" class="external-link">Microblog.pub <span class="fas fa-external-link-alt"></span></a>, a single-user ActivityPub microblog.</p>
			<p>You can <a href="/remote_follow">follow @ila@leftarchive.ie</a> from any Fediverse account, such as Mastodon, Pixelfed, Peertube etc.</p>
			<p><a class="btn" href="https://github.com/Aonrud/ila-microblog.pub/tree/ila"><span class="fab fa-github"></span> The code for this site is available on Github <span class="fas fa-arrow-right"></span></a></p>
		</div>
	</footer>
</div>
