<section class="panel panel-primary panel-browse">
	<header class="panel-heading">
		<h3 class="panel-title">Irish Left Archive</h3>
	</header>
	<div class="panel-body">
		<p class="lead">The Irish Left Archive is an online archive of materials relating to Irish left politics, freely accessible and easy to download and reproduce.</p>
		<div class="text-center"><a href="https://www.leftarchive.ie/" class="btn btn-primary"><span class="fas fa-house"></span> Irish Left Archive <span class="fas fa-arrow-right"></span></a></div>
	</div>
	<div class="list-group">
		<a href="https://www.leftarchive.ie/" class="list-group-item"><span class="fas fa-house fa-fw"></span> Home</a>
		<a href="https://www.leftarchive.ie/information/about-the-irish-left-archive/" class="list-group-item"><span class="fas fa-info fa-fw"></span> About</a>
		<a href="https://www.leftarchive.ie/page/timeline-of-the-irish-left/" class="list-group-item"><span class="fas fa-code-branch fa-fw"></span> Left Timeline</a>
		<a href="https://www.leftarchive.ie/documents/" class="list-group-item"><span class="fas fa-file-lines fa-fw"></span> Documents</a>
		<a href="https://www.leftarchive.ie/browse/organisations/grid/" class="list-group-item"><span class="fas fa-users fa-fw"></span> Organisations</a>
		<a href="https://www.leftarchive.ie/browse/publications/grid/" class="list-group-item"><span class="fas fa-newspaper fa-fw"></span> Publications</a>
		<a href="https://www.leftarchive.ie/browse/people/" class="list-group-item"><span class="fas fa-user fa-fw"></span> People</a>
		<a href="https://www.leftarchive.ie/browse/subjects/" class="list-group-item"><span class="fas fa-bookmark fa-fw"></span> Subject Headings</a>
		
	</div>
</section>


<section class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="fas fa-microphone-alt"></span>&nbsp;<a href="https://www.leftarchive.ie/podcast/">Irish Left Archive Podcast</a></h3>
	</div>
	<div class="panel-body">
		<a href="https://www.leftarchive.ie/podcast/" title="Irish Left Archive Podcast"><img src="https://www.leftarchive.ie/image/1/500/0/assets/images/ila-podcast.jpg" alt="Irish Left Archive Podcast" class="img-responsive"></a>
		<p>	Exploring Left politics in Ireland past and present</p>
		<div class="text-center"><a class="btn btn-success" href="https://www.leftarchive.ie/podcast/">Listen and subscribe <span class="fas fa-arrow-right"></span></a></div>
	</div>
</section>

<section class="snapshots-aside">
	<h3>Snapshots of Political Action</h3>
	<p class="snapshots-tagline">A project from Irish Election Literature and the Irish Left Archive</p>
	<a href="https://www.leftarchive.ie/demonstrations/" class="btn btn-default"><span class="fas fa-bullhorn"></span> Demonstrations Collections <span class="fas fa-arrow-right"></span></a>
	<img src="https://www.leftarchive.ie/workspace/assets/images/political-action.png" class="snapshots-id-image" alt="A protest march" />
</section> 
